docker-compose.yml
Dockerfile
data/
node_modules/

android/*
!android/app/
android/app/*
!android/app/src/
android/app/src/*
!android/app/src/main/
android/app/src/main/*
!android/app/src/main/java/
android/app/src/main/java/*
!android/app/src/main/java/com/
android/app/src/main/java/com/*
!android/app/src/main/java/com/vibing/
android/app/src/main/java/com/vibing/*
!android/app/src/main/java/com/vibing/app/
android/app/src/main/java/com/vibing/app/*
!android/app/src/main/java/com/vibing/app/SystemVolumePlugin.java
!android/app/src/main/java/com/vibing/app/MainActivity.java
 
# --- iOS: same technique, down to the one hand-written Swift file ---
ios/*
!ios/App/
ios/App/*
!ios/App/App/
ios/App/App/*
!ios/App/App/SystemVolumePlugin.swift